* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

a {
    color: white;
    text-decoration: none;
}

body {
    background-image: linear-gradient(#01022d, black);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-image: linear-gradient(to right, #01022de5 30%, #00000088), url(download.webp);
    width: 90%;
    height: 640px;
}

.container:hover {
    background-image: linear-gradient(to right, #01022de5 30%, transparent), url(download.webp);
    background-position: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo {
    font-size: 30px;
    text-transform: capitalize;
}

ul {
    list-style: none;
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}

ul a {
    border-bottom: 2px solid transparent;
}

ul a:hover {
    border-bottom: 2px solid white;
}

.content {
    color: white;
    width: 50%;
    margin-top: 50px;
    padding: 30px;
}

.content h2 {
    font-size: 100px;
    text-transform: uppercase;
}

.content p {
    letter-spacing: 2px;
    width: 350px;
    padding: 20px;
}

.content button {
    font-size: 30px;
    padding: 6px;
    border-radius: 10px;
    border: 2px solid transparent;
    cursor: pointer;
}

.content button:hover {
    background-color: transparent;
    border-color: white;
    color: white;
}

span {
    font-size: 100px;
}

.q {
    animation-duration: 3s;
    animation-delay: 0s;
    animation-name: aioda
}

.w {
    animation-duration: 3s;
    animation-delay: 0.2s;
    animation-name: aioda;
}

.e {
    animation-duration: 3s;
    animation-delay: 0.3s;
    animation-name: aioda
}

.r {
    animation-duration: 3s;
    animation-delay: 0.4s;
    animation-name: aioda;
}


.t {
    animation-duration: 3s;
    animation-delay: 0.5s;
    animation-name: aioda;
}

.y {
    animation-duration: 3s;
    animation-name: aioda;
    animation-delay: 0s;
}

@keyframes aioda {
    0% {
        opacity: 0;
        color: white;
    }

    100% {
        opacity: 1;
        color: lightsalmon;
    }
}